.modalPopup{
    height: 800px !important;
    
}

.carusalePopup{
   height: 80%; 
}

.carusaleImgPopup{
    height: 450px;
    width: 100%;
}

.descriptionPopup{
    max-height: 150px;
    overflow: scroll;
}