.nav{
    width: fit-content;
}

/* .nv{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  height: 50px;
  transition: background-color 0.3s ease;
} */

.nv{
  height: 50px;
}