.carusaleImg{
    height: 250px;
    width: 100%;
}



.caruselCaption{
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    z-index: 1 !important;
    cursor:default;
    margin-bottom: 4%;
}

.ac{
    z-index: 0 !important;
}

.crd{
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}
.btn-label{
    cursor: pointer;
}