.topBox{
    width: fit-content;
    max-width: 50%;
    margin: auto;
    height: fit-content;
    max-height: 40%;
    padding: 5px;
}



.background_image{
    background-image: url('../images/contructions/construction-14.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
}